{% extends 'base.html.twig' %}

{% block metaEtLinkSupplementaire %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/connexion.css') }}">
{% endblock %}

{% block body %}
    <main>
        <section id="connexion">
            <div class="box container">
                <div class="test1">
                    <img src="{{ asset('img/logo.png') }}" alt="" />
                </div>
                <form method="POST">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                   
                    <input placeholder="Email" name="email" id="inputEmail" value="{{ last_username }}" type="email" autocomplete="email" required autofocus />

                    
                    <input class="inputconect" placeholder="Password" autocomplete="current-password" required id="inputPassword" type="password" name="password" />

                    
                    <div class="btnconnexion">
                        <button type="submit" class="valider">Valider</button>
                        
                    </div>
                </form>
            </div>
        </section>
    </main>
{% endblock %}