{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block metaEtLinkSupplementaire %}
  <link rel="stylesheet" href="/styles/formInscription.css" />
{% endblock %}

{% block body %}
  <header>
    <div>
      <h2 class="padding">Abonnez-vous à AccèsGym !</h2>
    </div>
  </header>
  <section class="">
  
    {# {{ form_start(inscriptionForm) }} #}


      {# {{ form_errors(registrationForm) }} #}

    
{{ form_start(registrationForm, {'attr': {'class': 'form'}}) }}
{% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
{# 
      <div class="gender">


    </div> #}
      <div class="responssive d-flex justify-content-center">
        <div class="space-un">

<div class="mb-3">
    {{ form_label(registrationForm.abonner.gender, 'Genre', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(registrationForm.abonner.gender, {'attr': {'class': 'form-control'}}) }}
</div>

          <div class="mb-3">
            {{ form_label(registrationForm.abonner.name, 'Prénom', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(registrationForm.abonner.name, {'attr': {'class': 'form-control'}}) }}
    
          </div>
            <div class="mb-3">
              {{ form_label(registrationForm.abonner.firstName, 'Nom de famille', {'label_attr': {'class': 'form-label'}}) }}
              {{ form_widget(registrationForm.abonner.firstName, {'attr': {'class': 'form-control'}}) }}
    
            </div>
              <div class="mb-3">
                {{ form_label(registrationForm.abonner.dateOfBirth, 'Date de Naissance', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(registrationForm.abonner.dateOfBirth, {'attr': {'class': 'form-control'}}) }}
    
              </div>
                <div class="mb-3">
                  {{ form_label(registrationForm.abonner.telephone, 'telephone', {'label_attr': {'class': 'form-label'}}) }}
                  {{ form_widget(registrationForm.abonner.telephone, {'attr': {'class': 'form-control'}}) }}
    
                </div>
                      <div class="mb-3">
                        
                        {{ form_label(registrationForm.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                      </div>
                      </div>
                      <div class="space-deux ms-5">
                        <div class="mb-3">
                          {{ form_label(registrationForm.abonner.emailConfirmation, 'Email de confirmation', {'label_attr': {'class': 'form-label'}}) }}
                          {{ form_widget(registrationForm.abonner.emailConfirmation, {'attr': {'class': 'form-control'}}) }}
    
                        </div>


                          
                            <div class="mb-3">
                              {{ form_label(registrationForm.abonner.postalCode, 'Code Postal', {'label_attr': {'class': 'form-label'}}) }}
                              {{ form_widget(registrationForm.abonner.postalCode, {'attr': {'class': 'form-control'}}) }}
                              
                            </div>
                              <div class="mb-3">
                                {{ form_label(registrationForm.abonner.city, 'Ville', {'label_attr': {'class': 'form-label'}}) }}
                                {{ form_widget(registrationForm.abonner.city, {'attr': {'class': 'form-control'}}) }}
                                  
                              </div>
                                <div class="mb-3">
                                  {{ form_label(registrationForm.abonner.street, 'Rue', {'label_attr': {'class': 'form-label'}}) }}
                                  {{ form_widget(registrationForm.abonner.street, {'attr': {'class': 'form-control'}}) }}
    
                                </div>
                                  <div class="mb-3">
                                    {{ form_label(registrationForm.abonner.address, 'Numéro de Rue', {'label_attr': {'class': 'form-label'}}) }}
                                    {{ form_widget(registrationForm.abonner.address, {'attr': {'class': 'form-control'}}) }}
    
                                  </div>

                                    <div class="mb-3">
                                      {{ form_label(registrationForm.plainPassword, 'Mot de passe', {'label_attr': {'class': 'form-label'}}) }} 
                                      {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}, 'label': 'Password'}) }}
                                    
                                    </div>

                                      <div class="mb-3 form-check">
                                        {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                                        <label class="form-check-label" for="checkLabel3">Check me out</label>
                                          </div>

          <button type="submit" class="btn btn-primary">S'inscrire</button>
        </div>
      
    {{ form_end(registrationForm) }} </div>
  </section> 
{% endblock %}
