{% extends 'base.html.twig' %}

{% block metaEtLinkSupplementaire %}
  <link rel="stylesheet" href="{{ asset('styles/abonnement.css') }}" />
{% endblock %}

{% block title %}Hello AbonnementController!{% endblock %}

{% block body %}
<main>

                {% for abonnement in abonnements %}
        <section class="un">
            <div class="ligne container">
                <a href="{{path('app_register', {name: abonnement.name})}}"> 
                    <div class="box">
                        <h2> {{ abonnement.getName()}}</h2>
                        <div class="separation"></div>
                        <h3>{{ abonnement.getTarif()}}</h3>
                        <p class="margin">
                            <img class="logoverif" src="/img/verifier.png" alt="" />{{ abonnement.textSchedule}}
                        </p>
                        <p class="margin">
                            <img class="logoverif" src="/img/verifier.png" alt="" />{{abonnement.textActivity}}
                        </p>
                        <p class="margin">
                            <img class="logoverif" src="/img/verifier.png" alt="" />{{abonnement.textRecipe}}
                        </p>
                        <p class="margin">
                            <img class="logoverif" src="/img/traverser.png" alt="" />{{abonnement.textSpa}}
                        </p>
                        <p class="margin">
                            <img class="logoverif" src="/img/traverser.png" alt="" />{{abonnement.textCoach}}
                        </p>
                    </div>
                </a>
                <div class="paragraphe-un container">
                    <h2>{{abonnement.title}}</h2>
                    <p class="font">
                   {{abonnement.textDescription}}
                    </p>
                </div>
            </div>
        </section>
                {% endfor %}
    {# {% elseif abonnements == 'confort' %}
        <section class="deux">
            <div class="ligne container">
                <div class="paragraphe-un">
                    <h2>Relax</h2>
                    <p class="font">
                        Découvrez notre abonnement Confort pour une expérience de remise en forme ultime !
                        Profitez d'un accès exclusif à nos installations premium,
                        d'un service personnalisé et de nombreux avantages supplémentaires.
                        Rejoignez-nous dès maintenant et vivez une vie plus saine et plus confortable avec nous !
                    </p>
                </div>
                <a href="/formulaire/inscription">
                    <div class="box">
                        <h2>COMFORT</h2>
                        <div class="separation"></div>
                        <h3>24,99€ / 4 semaines</h3>
                        <p class="margin">
                            <img class="logoverif" src="/img/verifier.png" alt="" />Accès à un
                            club AccèsGym de 6h à 21h non-stop 7j/7
                        </p>
                        <p class="margin">
                            <img class="logoverif" src="/img/verifier.png" alt="" />Cardio-Trainig/ Musculation Guidée, Poids libres,
                            Barres et Haltères
                        </p>
                        <p class="margin">
                            <img class="logoverif" src="/img/verifier.png" alt="" />Recette
                        </p>
                        <p class="margin">
                            <img class="logoverif" src="/img/verifier.png" alt="" />Spa
                        </p>
                        <p class="margin">
                            <img class="logoverif" src="/img/traverser.png" alt="" />Coach
                        </p>
                    </div>
                </a>
            </div>
        </section>
    {% elseif abonnements == 'premium' %}
        <section class="trois">
            <div class="ligne container">
                <a href="/formulaire/inscription">
                    <div class="box">
                        <h2>PREMIUM</h2>
                        <div class="separation"></div>
                        <h3>39,99€ / 4 semaines</h3>
                        <p class="margin">
                            <img class="logoverif" src="/img/verifier.png" alt="" />Accès à un
                            club AccèsGym de 6h à 21h non-stop 7j/7
                        </p>
                        <p class="margin">
                            <img class="logoverif" src="/img/verifier.png" alt="" />Cardio-Trainig/ Musculation Guidée, Poids libres,
                            Barres et Haltères
                        </p>
                        <p class="margin">
                            <img class="logoverif" src="/img/verifier.png" alt="" />Recette
                        </p>
                        <p class="margin">
                            <img class="logoverif" src="/img/verifier.png" alt="" />Spa
                        </p>
                        <p class="margin">
                            <img class="logoverif" src="/img/verifier.png" alt="" />Coach
                        </p>
                    </div>
                </a>
                <div class="paragraphe-un container">
                    <h2>Full</h2>
                    <p class="font">
                        Plongez dans l'excellence avec notre abonnement Premium,
                        conçu pour ceux qui recherchent le summum de la remise en forme et du bien-être.
                        Accès à nos installations haut de gamme, programmes exclusifs et services VIP vous attendent.
                        Rejoignez-nous dès maintenant et vivez une expérience de remise en forme inégalée !
                    </p>
                </div>
            </div>
        </section>
    {% endif %} #}
 </main>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/abonnement.js') }}"></script>
{% endblock %}