{% extends 'base.html.twig' %}

{%  block metaEtLinkSupplementaire %}
 <link rel="stylesheet" href={{asset('styles/profil.css')}} />
{% endblock %}

{% block body %}
<header>
    <div class="padding">
      <div> <img class="appareil" src="../img/appareil-photo-numerique.png" alt=""></div>
      <img class="photo" src="/img/profil.png" alt="">
      <div class="prenom">
      {% if abonner %}
        <p>{{ abonner.name }}</p>
      </div>
      <div>
        ID :{{ abonnerId }}
      </div>
      {% endif %}
    </div>

    <div class="padding">
      <div class="placement">
        <a href="/Abonnement/abonnement.html">
                    <a class="modification"href="{{ path('app_profil_unsubscribe') }}" onclick="return confirm('Êtes-vous sûr de vouloir vous désabonner ?')">Désabonner</a>
        </a>
      </div>
        {% if abonnement %}
      <div class="ligne container">
        <div class="box">
          <h2>{{ abonnement.name }}</h2>

          <div class="separation"></div>
          <h3>{{ abonnement.tarif }}</h3>
          <p class="margin">
            <img class="logoverif" src="/img/verifier.png" alt="" />{{ abonnement.textSchedule}}
          </p>
          <p class="margin">
            <img class="logoverif" src="/img/verifier.png" alt="" />{{abonnement.textActivity}}
          </p>
          <p class="margin">
            <img class="logoverif" src="/img/verifier.png" alt="" />{{abonnement.textRecipe}}
          </p>
          <p class="margin">
            <img class="logoverif" src="/img/verifier.png" alt="" />{{abonnement.textSpa}}
          </p>
          <p class="margin">
            <img class="logoverif" src="/img/verifier.png" alt="" />{{abonnement.textCoach}}
          </p>
        </div>
        {% endif %}
  </header>
  <section>
    <div class="corners pb-5">
      <div class="corner">
        <ul class="list">
          <li class="toggle-table">Paiements
            <i class="fa-regular fa-hand-pointer"></i>
            <i class="fa-regular fa-hand-point-down hidden"></i>
          </li>
          <li class="hidden"><i class="fa-solid fa-arrow-right"></i> </li>
          <li class="hidden"><i class="fa-solid fa-arrow-right"></i> </li>
          <li class="hidden"><i class="fa-solid fa-arrow-right"></i> </li>
          <li class="hidden"><i class="fa-solid fa-arrow-right"></i> </li>
          <li class="hidden"><i class="fa-solid fa-arrow-right"></i> </li>
          <li class="hidden"><i class="fa-solid fa-arrow-right"></i> </li>
        </ul>
      </div>

{% if abonner %}
      <div class="corner">
        <ul class="list">
          <li class="toggle-table">Données personnelles
            <i class="fa-regular fa-hand-pointer"></i>
            <i class="fa-regular fa-hand-point-down hidden"></i>
          </li>
          <li class="hidden"> Nom:  {{ abonner.name }}</li>
          <li class="hidden"> Prénom: {{ abonner.firstName }}</li> </li>
          <li class="hidden"> Date de Naissance:{{ abonner.dateOfBirth|date('d/m/Y') }} </li>
          <li class="hidden"> Numéro de téléphone:{{ abonner.telephone }}</li>
          <li class="hidden"> Email:{{ abonner.emailConfirmation }}</li>
          <li class="hidden"> Code Postale: {{ abonner.postalCode }}</li>
          <li class="hidden"> Ville:{{ abonner.city }}</li>
          <li class="hidden"> Rue:{{ abonner.street }}</li>
          <li class="hidden"> Numéro de Rue: {{ abonner.address }}</li>
          <li class="hidden"> Info Complémentaire:{{ abonner.subscription }}</li>
          <li class="hidden"><a class="no" href="{{ path('app_edit') }}"><button class="bouton">Modifier<span class="bg-base-color text-white"><i class="fa-solid fa-arrow-right"></i></span></button></a></li>
  


        </ul>
        
      </div>
    </div>
    {% endif %}
  </section>
{% endblock %}
{% block javascripts %}
<script src={{asset('js/profil.js')}}></script>
{% endblock %}
